
/* container for app gui */
.container {
  display:block;
  margin: auto;
  width: 100%;
  text-align: center;
}


/* CSS for new, show and edit */
.new {
  text-align: center;
}

.show {
  text-align: center;
}

.edit {
  text-align: center;
}

/* H1 element css */
h1 {
  color: hotpink;
  padding: 10px;
  text-align: center;
}

/* css for show, edit, delete */
.buttons {
  font-size: 10px;

}


/* Navigation CSS */
nav {
  display: inline-block;
  position: absolute;
  top: 35px;
  width: 500px;
  
}

body {
  padding: 0;
  background-color: #F7F5F5;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

button   {
  font-size: 20px;
  padding:5px;
  background-color: #FFF;
  border: 1px solid #666;
  text-decoration:none;
  width: 100px;

}


button a {
  text-decoration: none;
  font-family: calibri;
  color: hotpink;
}

button a:hover {
  font-style: italic;
}

textarea {
  width: 250px;
  height: 100px;
}

.field_with_errors {
  padding: 2px;
  background-color: hotpink;
  display: table;
  margin: auto;
  text-align: center;
}

#error_explanation {
  width: 450px;
  margin: auto;
  border: 2px solid hotpink;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #ccc;
    color: #000;
  }
  ul li {
    font-size: 12px;
    list-style: none;
  }
}

/* Css for date stamp */
.date {
  font-size: 12px;

}


/* css for status div needs refactoring */
.status {
  font-size: 20px;
}

