/* container for app gui */

.container {
  display:block;
  margin: auto;
  max-width: 980px;
  text-align: center;
}

/* CSS for new and show */
.new {
  text-align: center;
}

.show {
  text-align: center;
}


/* H1 element css */
h1 {
  color: hotpink;
  padding: 10px;
  text-align: center;
}

/* css for show, edit, delete */
.buttons {
  font-size: 10px;

}

/* Navigation CSS */
nav {
  display: inline-block;
  position: absolute;
  top: 35px;
  width: 500px;
  
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* Css for date stamp */
.date {
  font-size: 12px;

}


/* css for status div needs refactoring */
.status {
  font-size: 20px;
}

